<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>12 fox</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}" media="all">
    </head>
    <body>

      <nav class="nav">
        <i class="uil uil-bars navOpenBtn"></i>
        <a href="#" class="logo">12 𝓕𝓸𝔁</a>
        <ul class="nav-links">
          <i class="uil uil-times navCloseBtn"></i>
          <li><a href="{{url_for('base')}}">Home</a></li>
          <li><a href="#">Men's</a></li>
          <li><a href="#">Women's</a></li>
          <li><a href="#">Kid's</a></li>
          <li><a href="#">About us</a></li>
        </ul>
        <i class="uil uil-search search-icon" id="searchIcon"></i>
        <div class="search-box">
          <i class="uil uil-search search-icon"></i>
          <input type="text" placeholder="Search here..." />
        </div>
        <div class="logout">
          <a href="{{url_for('login')}}"><i class="ri-logout-box-line"></i></a>
        </div>
      </nav>
    
      
      <section class="parallex">
      <div class="external">
        <div class="horizontal-scroll-wrapper">
          <div class="img-wrapper slower">
            <a href="https://altphotos.com/photo/stylish-parisian-cafe-terrace-279/" target="_blank" rel="noopener"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/paris-cafe-terrace.jpg" alt="">
            </a>
          </div>
      
          <div class="img-wrapper faster">
            <a href="https://altphotos.com/photo/retro-boy-doll-wearing-elegant-clothes-330/" target="_blank" rel="noopener">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/antiquedollboy.jpg" alt="">
            </a>
          </div>
      
          <div class="img-wrapper slower vertical">
            <a href="https://altphotos.com/photo/clocks-shop-exposition-window-reflecting-the-streets-277/" target="_blank" rel="noopener">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/windowshopclock.jpg" alt="">
            </a>
          </div>
      
          <div class="img-wrapper slower slower-down">
            <a href="https://altphotos.com/photo/swans-and-ducks-swimming-in-a-river-264/" target="_blank" rel="noopener">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/swanduckriver.jpg" alt="">
            </a>
          </div>
      
          <div class="img-wrapper">
            <a href="https://altphotos.com/photo/sidewalk-terrace-of-a-blue-facade-cafe-312/" target="_blank" rel="noopener">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/cafe-terrace.jpg" alt="">
            </a>
          </div>
      
          <div class="img-wrapper slower">
            <a href="https://altphotos.com/photo/paris-waterfront-at-sunset-1555/" target="_blank" rel="noopener">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/paris-seine-boat.jpg" alt="">
            </a>
          </div>
      
          <div class="img-wrapper faster1">
            <a href="https://altphotos.com/photo/old-man-leaning-over-the-barrier-looking-at-the-river-265/" target="_blank" rel="noopener">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/old-man-river.jpg" alt="">
            </a>
          </div>
         
          <div class="img-wrapper slower slower2">
            <a href="https://altphotos.com/photo/cafe-terrace-with-a-row-of-retro-tables-261/" target="_blank" rel="noopener">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/cafe-table-street.jpg" alt="">
                </a>
           </div>
          
          <div class="img-wrapper">
                <a href="https://altphotos.com/photo/street-scene-with-pedestrians-and-dogs-318/" target="_blank" rel="noopener">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/street-scene-people.jpg" alt="">
            </a>
          </div>
          
          <div class="img-wrapper slower">
             <a href="https://altphotos.com/photo/tourist-barge-on-the-river-seine-near-notre-dame-266/" target="_blank" rel="noopener">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/notre-dame-river-boat.jpg" alt="">
            </a>
          </div>
          
          <div class="img-wrapper slower last">
             <a href="https://altphotos.com/photo/skulls-decoration-in-a-shop-window-331/" target="_blank" rel="noopener">
               <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/74321/shop-window-reflection.jpg" alt="">
            </a>
          </div>
        </div>
      </div>          
      </section>   
      <!--    Product   -->


      <section class="Products" id="Products">
        <div class="main">
          <section class="product">
            <h2 class="product-category">best selling</h2>
        
          <ul class="cards">
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.ibb.co/s5phbkg/shoe-golden.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Golden Shoe</h3>
              <div class="glassBox__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt veniam adipisci fugit qui quaerat!</div>
              <div class="glassBox__price">
                      <span class="product-price">$99</span>
                      <span class="actual-price">$140</span>
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" color:#ffffff; width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
                
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.ibb.co/s5phbkg/shoe-golden.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Golden Shoe</h3>
              <div class="glassBox__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt veniam adipisci fugit qui quaerat!</div>
              <div class="glassBox__price">
                      <span class="product-price">$99</span>
                      <span class="actual-price">$140</span>
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" color:#ffffff; width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.ibb.co/s5phbkg/shoe-golden.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Golden Shoe</h3>
              <div class="glassBox__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt veniam adipisci fugit qui quaerat!</div>
              <div class="glassBox__price">
                      <span class="product-price">$99</span>
                      <span class="actual-price">$140</span>
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" color:#ffffff; width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.ibb.co/s5phbkg/shoe-golden.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Golden Shoe</h3>
              <div class="glassBox__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt veniam adipisci fugit qui quaerat!</div>
              <div class="glassBox__price">
                      <span class="product-price">$99</span>
                      <span class="actual-price">$140</span>
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" color:#ffffff; width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.ibb.co/s5phbkg/shoe-golden.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Golden Shoe</h3>
              <div class="glassBox__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt veniam adipisci fugit qui quaerat!</div>
              <div class="glassBox__price">
                      <span class="product-price">$99</span>
                      <span class="actual-price">$140</span>
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" color:#ffffff; width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
        
          </li>
          <li class="cards_item">
            <div class="glassBox">
              <div class="glassBox__imgBox">
                <img src="https://i.ibb.co/s5phbkg/shoe-golden.png" alt="">
                
                
              </div>
              <h3 class="glassBox__title">Golden Shoe</h3>
              <div class="glassBox__content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae sunt veniam adipisci fugit qui quaerat!</div>
              <div class="glassBox__price">
                      <span class="product-price">$99</span>
                      <span class="actual-price">$140</span>
              </div>
              <div class="glassBox__Button">
                       <a href="https://lukkaartsandcrafts.myinstamojo.com/product/4578923/hi-i-am-a-shirt-de769/" data-store-name="lukkaartsandcrafts" data-domain="https://lukkaartsandcrafts.myinstamojo.com" data-id="4578923" rel="im-new-checkout" data-text="Buy" data-css-style=" color:#ffffff; width:180px; border-radius:4px"   data-layout="vertical"  ></a>
               </div>
            </div>
            
           
          </li>
          </ul>
        </div>
      </section>
<!--contact-->
<section class="contact" id="contact">
  <div class="max-width">
    <h2 class="title">Contact Us</h2>
    <div class="contact-content">
      <div class="column left">
        <div class="text">Get in Touch</div>
        <p>Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or opportunities to be a part of your visions. Email me with any questions or inquiries. I'll happy to answer your questions and set up a meeting with you.</p>
        <div class="icons">

          <a href="#">
            <div class="row">
              <i class="fa-solid fa-user-large"></i>
              <div class="info">
                <div class="head">Name</div>
                <div class="sub-title"><a href="#" style="text-decoration: none; color: #ffffffd7;"> Vishva MV</a></div>
              </div>
            </div>
          </a>

          <div class="row">
            <i class="fa-solid fa-location-dot"></i>
            <div class="info">
              <div class="head">  Address</div>
              <div class="sub-title">  Thanjavur, Tamilnadu, India</div>
            </div>
          </div>

          <div class="row">
            <i class="fa-solid fa-envelope"></i>
            <div class="info">
              <div class="head">Email</div>
              <div class="sub-title"><a href="mailto:dev.vishvamv@gmail.com" style="text-decoration: none; color: #ffffffd7;"> dev.vishvamv@gmail.com</a></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Reach -->
      <div class="column right">
        <div class="text">Message me</div>
        <form action="https://formsubmit.co/dev.vishvamv@gmail.com" method="POST">
          <div class="fields">
            <div class="field name">
              <input type="text" name="username" placeholder="Your Name" required>
            </div>
            <div class="field email">
              <input type="email" name="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="field">
            <input type="text" name="subject" placeholder="Subject" required>
          </div>
          <div class="field textarea">
            <textarea cols="30" name="message" rows="10" placeholder="Message.." required></textarea>
          </div>
          <div class="button-area">
            <button type="submit">Send message</button>
            <input type="hidden" name="_next" value="https://">
            
          </div>
          <input type="hidden" name="_autoresponse" value="Thanks for filling in Visfolio!!.
          Here's what was received.">
        </form>
      </div>
    </div>
  </div>
</section>
<!-- footer-->
<footer>
  <span>
    <a href="#"> 12 𝓕𝓸𝔁 </a> | <span class="far fa-copyright"></span> 2023 All Rights Reserved.
  </span>
</footer>

    
    </body>
    <script src="https://manage.instamojo.com/assets/js/pay_button/button.min.js"></script>
    <script src="/static/js/nav.js"></script>
</html>
